.score {
  display: flex;
  justify-content: center;
  position: relative;
  top: 31px;
}

.score h2 {
  font-size:54px;
  color: white;
  text-align: center;
  letter-spacing:21px;
  font-weight:100; 

}