
.Play {
  float: left;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  bottom: 31px;
}

.Play button {
  cursor:pointer;
  background-color:#FF9800; 
  color: white;
  border: none; 
  border-radius:5%; 
  width: 136px;
  height: 49px; 
  font-family: Lato, sans-Serif;
  box-shadow:2px 2px 50px -2px black;
}
