
.Play {
  float: left;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: 180px;
}

@media (max-width: 400px) {
  .Play {
    justify-content: flex-start;
    margin-left: 20px;
    top: 160px;
  }
}

@media (max-width:540px) and (min-width:400px) {
  .Play {
    top: 160px;
  }
}

@media(max-width: 357px) {
  .Play {
    position: relative;
    top: 160px;
  }
}


.Play button {
  cursor:pointer;
  background-color:#FF9800; 
  color: white;
  border: none; 
  border-radius:5%; 
  width: 136px;
  height: 49px; 
  font-family: Lato, sans-Serif;
  box-shadow:2px 2px 50px -2px black;
}
