.distance {
  position: absolute; 
  left: 45.5%; 
  top: 60%; 
}

.distance img {
  width:52px;
  float: left; 
  position: relative;
  top: 10px;
}

.distance h2 {
  float:left;
  margin-left:20px;
  color: white;
  font-weight:100;
  font-size: 20px;
  position: relative;
  top: 7px;
  right: 5px;
}
