.data-two {
  line-height:2px;
  position: absolute;
  top:31px; 
  right: 19%;
}

.hours-trip-two h2{
  color: red;
  font-weight: 200;
}

.speed-cargo-two h4{
  color: white;
  font-weight: 200;
}

@media(max-width: 540px){
  .data-two {
    right: 75.5%;
  }
  .hours-trip-two h2 {
    font-size: 18px;
    width: 132%;
  }
  .speed-cargo-two h4 {
    font-size: 12px;
    width: 132%;
  }
}

