.vehicle-player-one img {
  position: absolute;
  bottom:6px; 
  left:24%;
  width:50px;
}

.vehicle-player-one h3 {
  color:white;
  position:absolute;
  left:22%;
  bottom:-47px;
  font-weight: 200;
  font-size: 18px;

}

@media(max-width: 540px){
  .vehicle-player-one h3 {
    width: 32%;
    position: absolute;
    left: 10%;
    font-size: 15px;
    text-align: center
  }
  .vehicle-player-one img {
    left: 20%;
    bottom:18px;
  }
}